.projects {
  width: 95%;
  margin: auto;

  .flex {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    
    .project-cont {
      width:40%;
      overflow:hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      -webkit-transform: rotate(-60deg) skewY(30deg);
      -ms-transform: rotate(-60deg) skewY(30deg);
      transform: rotate(-60deg) skewY(30deg);

    & img {
      width:85%;
      overflow:hidden;

      -webkit-transform: skewY(-30deg) rotate(60deg);
      -ms-transform: skewY(-30deg) rotate(60deg);
      transform: skewY(-30deg) rotate(60deg);
    }

    .title {
      display: none;
    }

     
  }
}

    .reverse {
      flex-direction: row-reverse;
    }

    .details {
      color: white;
      width: 60%;
  }

    .detail-hide {
      display: none;
    }
  }

